<section class="formContainer container-fluid bg-light">
    <div class="row text-center p-5">
        <h1 class="text-warning">Formulario de registro</h1>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4">
            <form [formGroup]="registerForm">
                <div class="mb-3 p-2">
                    <label for="email" class="form-label text-warning">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
                    <p *ngIf="hasError('email')" class="text-warning"> {{ getErrorMessage('email') }}</p>
                </div>
                <div class="mb-3 p-2">
                    <label for="password" class="form-label text-warning">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <p *ngIf="hasError('password')" class="text-warning"> {{ getErrorMessage('password') }}</p>
                </div>
                <div>
                    <button type="submit" class="btn btn-warning mx-2" (click)="submit()">Submit</button>
                    <button type="button" class="btn btn-warning mx-2" (click)="back()">Back</button>
                </div>
            </form>
        </div>
    </div>
</section>